.header {
    padding: 160px;
    text-align: center;
    background: url(/images/PIZZA2.jpng.jpeg);
    background-size: 100%;
    color: white;
    font-size: 80px;
    text-shadow: 0 0 15px rgb(252, 154, 7) ;
}

#about {
    background-color: antiquewhite;
    border-radius: 12px;
    margin:10px;
    font-size: 25px;
    text-align: center;
}

#toppingsSection {
    display: none;
}


.main-box{
    border: 2px solid blanchedalmond;
}

.box-title{
    background-color: blanchedalmond;
    padding:10px;
    color:rgb(254, 147, 7);
    font-weight:600;
}

.box-content{
    text-align: center;
}

.box-msg{
    font-weight: 600;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}